modules = ["nodejs-20", "web", "bash"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Start application"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 20332
externalPort = 3001
